{% extends './base.html' %}


{% block title %}InvestNest | Explore{% endblock %}

{% block content %}

<div class="form-container">
    <h1>Create New Product</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Title</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Description</label>
            {{ form.description }}
        </div>
        <div class="form-group">
            <label for="{{ form.features.id_for_label }}">Features</label>
            {{ form.features }}
        </div>
        <div class="form-group">
            <label for="{{ form.financial_projection.id_for_label }}">Financial Projection</label>
            {{ form.financial_projection }} <!-- Fix typo here -->
        </div>
        <div class="form-group">
            <div class="input-container">
                <div class="folder">
                    <div class="front-side">
                        <div class="tip"></div>
                        <div class="cover"></div>
                    </div>
                    <div class="back-side cover"></div>
                </div>
                <label for="{{ form.icon.id_for_label }}" class="custom-file-upload">
                    <!-- <label for="{{ form.icon.id_for_label }}">Icon</label> -->
                    {{ form.icon }}
                    Icon
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <div class="input-container">
                    <div class="folder">
                        <div class="front-side">
                            <div class="tip"></div>
                            <div class="cover"></div>
                        </div>
                        <div class="back-side cover"></div>
                    </div>
                    <label for="{{ form.screenshot.id_for_label }}" class="custom-file-upload">
                        <!-- <label for="{{ form.icon.id_for_label }}">Icon</label> -->
                        {{ form.screenshot }}
                        Screenshot
                    </label>
                </div>
            </div>

        </div>
        <div class="form-group">
            <label for="{{ form.link.id_for_label }}">Link</label>
            {{ form.link }}
        </div>
        <div class="form-group">
            <label for="{{ form.pub_date.id_for_label }}">Publication Date</label>
            {{ form.pub_date }}
        </div>
        <div class="form-group">
            <label for="{{ form.tags.id_for_label }}">Tags</label>
            {{ form.tags }}
        </div>
        <div class="form-group">
            <label for="{{ form.category.id_for_label }}">Category</label>
            {{ form.category }}
        </div>
        <div class="form-group">
            <label for="{{ form.is_published.id_for_label }}">Published</label>
            {{ form.is_published }}
        </div>
        <div class="form-group">
            <label for="{{ form.is_featured.id_for_label }}">Featured</label>
            {{ form.is_featured }}
        </div>
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'explore' %}" class="cancel-link">Cancel</a>
</div>

{% endblock %}