{% extends './base.html' %}


{% block title %}InvestNest | Coming Soon{% endblock %}

{% block content %}
<h1>Coming Soon</h1>


<section class="content">
    <div class="card product-card">
        {% if request.user.is_authenticated %}
        <button class="Btn">
            
            <div class="sign">+</div>
            <a href="{% url 'product_create' %}" class="text">New product</a>
            
        
          </button>
        {% endif %}
        
        <h2>Launching Soon...</h2>
        {% if products %}
        <div class="product-list" id="product-list">
            {% for product in products %}
            {% if not product.is_published %}
            <div class="product-item">
                <img src="{{ product.icon.url }}" alt="{{ product.title }}">
                <div>
                    <h2>{{ product.title }}</h2>
                    <p>{{ product.summary }}</p>
                    {% if product.is_featured %}
                    <div class="featured-product-ad">Featured</div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <p>No products are coming soon at the moment.</p>
        {% endif %}
    </div>

    <div class="card blog-card">
        <h2>Latest Blogs</h2>
        <div class="blog-list">
            <div class="blog-item">
                <h3>How to Launch a Product</h3>
                <p>A complete guide to launching your product.</p>
            </div>
            <div class="blog-item">
                <h3>Marketing Strategies for Startups</h3>
                <p>Explore the best marketing strategies for early-stage startups.</p>
            </div>
            <div class="blog-item">
                <h3>Product Hunt Success Stories</h3>
                <p>Read success stories of startups featured on Product Hunt.</p>
            </div>
        </div>
    </div>
</section>



{% endblock %}




